# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
activator.bat
activator-launch-1.3.5.jar
activator
*.swp
*.swo
scala-js/frontend/target/
scala-js/shared/target/
scala-js/shared/.js/
scala-js/shared/.jvm/
