@()

  </main>
  <footer class="page-footer deep-orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">

          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">Panop is a tiny open source project developed by mdemarne.<br>
          The use of Panop can produce some workload on websites, depending of its settings.<br>
          Panop is under the <a class="black-text text-lighten-3" href="https://github.com/mdemarne/panop-web/blob/master/LICENSE" target="blank">Apache 2.0 license</a>.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Source Code</h5>
          <ul>
            <li><a class="white-text" href="https://github.com/mdemarne/panop-core" target="blank">Panop Core</a></li>
            <li><a class="white-text" href="https://github.com/mdemarne/panop-web" target="blank">Panop Web</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="mailto:mathieu.demarne@@gmail.com">mathieu.demarne@@gmail.com</a></li>
            <li><a class="white-text" href="http://m.demarne.name" target="blank">m.demarne.name</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with love by <a class="black-text text-lighten-3" href="http://m.demarne.name" target="blank">mdemarne</a>
      </div>
    </div>
  </footer>