@(launchForm: Form[controllers.RawQuery])(implicit messages: Messages)

@import helper.RichHelpers._

@templates.main("Panop") {
  @templates.headers {
    @if(launchForm.hasErrors) {
      <li><a href="@routes.Main.home()">Home</a></li>
    }
  }

@if(!launchForm.hasErrors) {

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center deep-orange-text text-lighten-2">Panop</h1>
        <div class="row center">
          <h5 class="header col s12 light">Simple Tool For Parallel Online Search</h5>
        </div>
         <div class="row center">
          <a href="#start" id="download-button" class="btn-large waves-effect waves-light deep-orange lighten-1">Launch A Search !</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="@routes.Assets.versioned("images/background1.jpg")" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>What is Panop ?</h4>
          <p class="left-align light">Some internal search systems for website are <b>simply not accurate enough</b>. Often, external indexed-based search tools are not sufficient either, <b>especially when the data is moving fast, or only specific subsets of websites are targeted.</b>
          One way to avoid this is to do online analysis and search: <b>this is what Panop is for.</b>
          Panop will provide you a <b>simple interface</b> that allows you to select the target of a search and its settings, as well as domain boundaries and search depth. It will then return you <b>a list of URLs matching your requirements and allow you to browse through it</b>. Panop is a command-line-based tool or a web-based tool.</p>
        </div>
      </div>

    </div>
  </div>

}

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header center deep-orange-text text-lighten-2">Launch A Search !</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="@routes.Assets.versioned("images/background2.jpg")" alt="Unsplashed background img 2"></div>
  </div>

  <a id="start"></a>
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
          <div class="icon-block">
            @helper.form(action = routes.Main.launch()) {
              <h2 class="deep-orange-text text-lighten-2">Required</h2>
              <div class="row">
                <div class="input-field col s12">
                  @helper.inputText(launchForm("query"), '_label -> "Query", 'icon -> "mdi-action-room", '_showConstraints -> false)
                  <p>A query is in disjunctive normal form (examples: <i><b>'A'</b></i> or <i><b>'A' AND 'B'</b></i> or <i><b>('A' AND 'B') OR ('B' AND 'C')</b></i>.
                  It is also possible to avoid results containing some keywords (examples: <i><b>('A' AND 'B') - ('C' AND 'D')</b></i> where pages containing <i><b>C</b></i> and <i><b>D</b></i> will not be returned, etc.).</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 l7">
                  @helper.inputText(launchForm("url"), '_label -> "Starting Link", 'icon -> "mdi-editor-insert-drive-file", '_showConstraints -> false)
                  <p>This will be the entry point of the search, which will expand from there (example: <i><b>http://www.crossstream.ch/historical</b></i>).</p>
                </div>
                <div class="input-field col s12 l5">
                  @helper.inputText(launchForm("depth"), '_label -> "Search Depth", 'icon -> "mdi-content-report", '_showConstraints -> false)
                  <p>If a page <b><i>A</i></b> contains a link to <i><b>B</b></i> and a page <i><b>B</b></i> a link to <i><b>C</b></i>, then <i><b>C</b></i> is at depth 2 from <i><b>A</b></i>. This is the maximum depth from the root of the search.</p>
                </div>
              </div>
              <h2 class="deep-orange-text text-lighten-2">Optional</h2>
              <div class="row">
                <div class="input-field col s12"> 
                  @helper.inputText(launchForm("domain"), '_label -> "Domain",  'icon -> "mdi-editor-insert-drive-file")
                  <p>If specified, all explored urls will need to be prefixed by the domain (example: <i><b>http://www.crossstream.ch</b></i>).</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  @helper.inputText(launchForm("ignExts"), '_label -> "Ignored Extensions",  'icon -> "mdi-image-center-focus-strong", '_showConstraints -> false)
                  <p>This is the list of ignored filed extensions (separated by <b>|</b>, i.e. in Regular Expression).</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 l6">
                  @helper.inputText(launchForm("topBnds"), '_label -> "Top Boundaries", 'icon -> "mdi-editor-format-textdirection-l-to-r", '_showConstraints -> false)
                  <p>HTML tag(s) before which content will be ignored (in Regular Expression).</p>
                </div>
                <div class="input-field col s12 l6">
                  @helper.inputText(launchForm("botBnds"), '_label -> "Bottom Boundaries", 'icon -> "mdi-editor-format-textdirection-r-to-l", '_showConstraints -> false)
                  <p>HTML tag(s) after which content will be ignored (in Regular Expression).</p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 l6">
                  @helper.inputText(launchForm("mode"), '_label -> "Search Mode (BFSMode, DFSMode, RNDMode)", 'icon -> "mdi-image-center-focus-strong", '_showConstraints -> false)
                  <p>Can be either BFSMode (<i>Breath First Search</i>), DFSMode (<i>Depth First Search</i>) or RNDMode (<i>Random</i>).</p>
                </div>
                <div class="input-field col s12 l6">
                  @helper.inputText(launchForm("maxSlaves"), '_label -> "Maximum number of search nodes", 'icon -> "mdi-image-filter-3", '_showConstraints -> false)
                  <p>For performance reasons, no more than @panop.Settings.defMaxSlaves search nodes are allowed.</p>
                </div>
              </div>
              <div class="row center">
                <input type="submit" value="Start Searching !" href="#" class="btn btn-default deep-orange">
              </div>
            }
          </div>
        </div>
      </div>

    </div>
  </div>

  @templates.footers()
}()